<dev id="food-<%= food.id %>" data-food-id="<%= food.id %>">
  <span class="like">
    <% if food.fav?(current_user) %>
      <%= form_for(food.likes.find_by(user_id: current_user.id), method: :delete, remote: true) do |f| %>
        <%= button_tag(class: "btn btn-default btn-xs button-like") do %>
          <%= content_tag :span, "#{food.likes.count}", class: "col-sm-1 fas fa-star star-orange" %>
        <% end %>
      <% end %>
    <% else %>
      <%= form_for(food.likes.build, remote: true) do |f| %>
        <div><%= hidden_field_tag :food_id, food.id %></div>
        <%= button_tag(class: "btn btn-default btn-xs button-like") do %>
        <%= content_tag :span, "#{food.likes_count}", class: "col-sm-1 fas fa-star star-black like-counter" %>
        <% end %>
      <% end %>
    <% end %>
  </span>
</dev>
