<h3>料理一覧</h3>
<%= link_to '料理追加', new_shop_clerks_food_path, class: 'btn btn-success float-right', id:'add-food-link' %>
<table class="table table-hover">
  <tr class="bg-light">
    <th>料理ID</th><th>中国語名</th><th>英語名</th><th>価格(円)</th><th>いいね数</th>
  </tr>
  <% @foods.each do |food| %>
    <tr>
      <td><%= food.id %></td>
      <td><%= food.chinese_name %></td>
      <td><%= food.english_name %></td>
      <td><%= food.alacarte_price %></td>
      <td><%= food.likes_count %></td>
    </tr>
  <% end %>
</table>
<%= will_paginate @foods, previous_label: '&lt 前', next_label: '次 &gt' %>
