<div class="container-food-add">
  <h3>料理追加</h3>
  <%= form_for(@food, url:shop_clerks_foods_path) do |f| %>
    <div class="form-group">
      <%= f.label "中国語名"%>
      <%= f.text_field :chinese_name, autofocus: true, class: 'form-control', id: "chinese_name" %>
    </div>
    <div class="form-group">
      <%= f.label "英語名"%>
      <%= f.text_field :english_name, autofocus: true, class: 'form-control', id: "english_name" %>
    </div>
    <div class="form-group">
      <%= f.label "料理カテゴリ"%>
      <%= f.collection_select(:food_category_id, FoodCategory.all, :id, :name, :prompt => true) %>
    </div>
    <div class="form-group">
      <%= f.submit "追加", class: 'btn btn-success btn-block' %>
    </div>
  <% end %>
