<% @categorized.each do |category, date_food_relations| %>
  <div class="food-category-<%= category %>">
    <h3 class="food-category"><a id="<%= category %>"><%= category %></a></h3>
    <div class="row">
      <% date_food_relations.each do |date_food_relation|%>
        <div class="col-md-4">
          <label class="mb-5 card text-center select-menu-<%= date_food_relation.id %>">
            <% if @food_arr.present? %>
              <% checked = @food_arr.include?(date_food_relation.id)  %>
              <%= check_box_tag "daily_food_ids[]", "#{date_food_relation.id}", checked %>
            <% else %>
              <%= check_box_tag "daily_food_ids[]", "#{date_food_relation.id}" %>
            <% end %>
            <%= render 'shared/menu_each_food_info', date_food_relation: date_food_relation %>
          </label>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
