<h1>メニューの変更</h1>
<div class="row" id="#">
  <div class="col-sm-12 col-xs-12">
    <%= form_tag(order_path, method: :patch) do %>
      <% @categorized.each do |category, date_food_relations| %>
        <h6>これは<%= category %>やねん</h6>
        <% date_food_relations.each do |date_food_relation|%>
          <label class="select-menu-<%= date_food_relation.id %>">
            <h6><%= date_food_relation.food.chinese_name %></h6>
            <h6><%= date_food_relation.food.english_name %></h6>
            <% checked = @food_arr.include?(date_food_relation.id)  %>
            <%= check_box_tag "daily_food_ids[]", "#{date_food_relation.id}", checked %>チェック
          </label>
        <% end %>
      <% end %>


      <%= submit_tag "注文を変更", class: 'btn btn-info btn-block' %>
    <% end %>
  </div>
</div>
