<section class="py-5 bg-light">
  <div class="container">
    <div class="order-history">
      <h1>注文履歴</h1>
      <div class="row">
        <% @orders.zip(@ordered_foods_history) do |order, per_order| %>
          <div class="mb-5 col-md-4">
            <div class="edit-delete-menu-<%= order.id %>">
              <div>
                注文日時<%= l(order.updated_at, format: :long) %>
              </div>
              <div class="card py-3">
                <%= per_order.first.date %> 分のオーダー
                <% per_order.each do |date_food_relation| %>
                  <p>
                    <%= date_food_relation.chinese_name %>
                    <%= "(#{truncate(date_food_relation.english_name, length: 20)})" %>
                     RM<%= date_food_relation.alacarte_price %>
                  </p>
                <% end %>
                合計 RM<%= total_price(per_order) %>

                <% if Date.today < per_order.first.date %>
                  <%= link_to 'Edit', edit_order_path(order) %>
                  <%= link_to "Delete", order_path(order), method: :delete, data: { confirm: "本当に取り消しますか?" } %>
                <% else %>
                  <p class="order-completed">
                    注文が確定しました
                  </p>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
