<h1 class="main-topic">明日のメニュー</h1>
<div class="container">
  <div class="row" id="food-scroll" >
    <a class="col-sm-4 col-md-2 food-link" href="#Chicken">Chicken</a>
    <a class="col-sm-4 col-md-2" href="#Pork">Pork</a>
    <a class="col-sm-4 col-md-2" href="#Fish">Fish</a>
    <a class="col-sm-4 col-md-2" href="#Tofu-Egg">Tofu-Egg</a>
    <a class="col-sm-4 col-md-2" href="#Vegetables">Vegetables</a>
    <a class="col-sm-4 col-md-2" href="#SpecialItems">Special Items</a>
  </div>
</div>
<section class="py-5 bg-light">
  <div class="container">
    <%= form_tag(orders_path, method: :post) do %>
      <% @categorized.each do |category, date_food_relations| %>
        <div class="food-category-<%= category %>">
          <h3 class="food-category"><a id="<%= category %>"><%= category %></a></h3>
          <div class="row">
            <% date_food_relations.each do |date_food_relation|%>
              <div class="col-md-4">
                <label class="mb-5 card text-center select-menu-<%= date_food_relation.id %>">
                  <%= check_box_tag "daily_food_ids[]", "#{date_food_relation.id}" %>
                  <span>
                    <h6>
                      <%= date_food_relation.chinese_name %>
                      <% if date_food_relation.food.likes_count > 0 %>
                        <i class="fas fa-star star-orange"><%= date_food_relation.food.likes_count %></i>
                      <% end %>
                    </h6>
                      <h6><%= date_food_relation.english_name %></h6>
                      <i class="alacarte_price"><%= date_food_relation.alacarte_price %></i>RM
                  </span>
                </label>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
      <div class="order-summary">
        <div class="submit-button">
          <%= submit_tag "注文を送信", class: 'btn btn-info btn-block' %>
        </div>
        <div id="calculate-total-price">
          0
        <div>
      </div>
    <% end %>
  </div>
</section>
