<h1>明日のメニュー</h1>
<div class="row" id="#">
  <div class="col-sm-12 col-xs-12">
    <%= form_tag(orders_path, method: :post) do %>
      <% @date_menu_list.each do |menu| %>
        <label>
          <h6><%= menu.food.chinese_name %></h6>
          <h6><%= menu.food.english_name %></h6>
          <%= check_box_tag "daily_food_ids[]", "#{menu.id}" %>チェック
        </label>
      <% end %>
      <%= submit_tag "注文を送信", class: 'btn btn-info btn-block' %>
    <% end %>
  </div>
</div>
