<h1>明日のメニュー</h1>
<div class="container">
  <div class="row">
    <a class="col-sm-4 col-md-2" href="#Chicken">Chicken</a>
    <a class="col-sm-4 col-md-2" href="#Pork">Pork</a>
    <a class="col-sm-4 col-md-2" href="#Fish">Fish</a>
    <a class="col-sm-4 col-md-2" href="#Tofu/Egg">Tofu/Egg</a>
    <a class="col-sm-4 col-md-2" href="#Vegetables">Vegetables</a>
    <a class="col-sm-4 col-md-2" href="#SpecialItems">Special Items</a>
  </div>
</div>

<section class="py-5 bg-light">
  <div class="container">
    <%= form_tag(orders_path, method: :post) do %>
      <% @categorized.each do |category, date_food_relations| %>
        <div class="food-category-<%= category %>">
          <h3 class="food-category"><a id="<%= category %>"><%= category %></a></h3>
          <div class="row">
            <% date_food_relations.each do |date_food_relation|%>
              <div class="mb-5 col-md-4 card text-center py-3">
                <label class="select-menu-<%= date_food_relation.id %>">
                  <h6><%= date_food_relation.chinese_name %></h6>
                  <h6><%= date_food_relation.english_name %></h6>
                  <h6>RM<%= date_food_relation.alacarte_price %></h6>
                  <%= check_box_tag "daily_food_ids[]", "#{date_food_relation.id}" %>
                  <% if date_food_relation.food.likes_count > 0 %>
                    <%= content_tag :span, "#{date_food_relation.food.likes_count}", class: "col-sm-1 fas fa-star star-orange" %>
                  <% end %>
                </label>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
      <div class="submit-button">
        <%= submit_tag "注文を送信", class: 'btn btn-info btn-block' %>
      </div>
    <% end %>
  </div>
</section>
