<h3>日替わりメニュー 一覧</h3>
<%= link_to '日替わりメニュー追加', new_shop_clerks_daily_food_path, class: 'btn btn-success float-right', id:'add-daily-food-link' %>
<table class="table table-hover">
  <tr class="bg-light">
    <th>日替わりメニューID</th><th>日付</th><th>料理名</th><th>価格(円)</th>
  </tr>
  <% @daily_foods.each do |daily_food| %>
    <tr>
      <td><%= daily_food.id %></td>
      <td><%= daily_food.date %></td>
      <td><%= daily_food.english_name %></td>
      <td><%= daily_food.alacarte_price %></td>
    </tr>
  <% end %>
</table>
<%= will_paginate @daily_foods, previous_label: '&lt 前', next_label: '次 &gt' %>
