<%= render 'shared/flash_messages' %>
<div class="container-daily-food-add">
  <h3>日替わりメニュー追加</h3>
  <%= form_for(@daily_food, url:shop_clerks_daily_foods_path) do |f| %>
    <div class="form-group">
      <div class="form-inline">
        <%= f.label "日付"%>
        <%= f.date_select :date, autofocus: true, class: 'form-control', id: "date" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label "料理名"%>
      <%= f.collection_select(:food_id, Food.all, :id, :english_name, :prompt => true) %>
    </div>

    <!-- <label class="control-label" for="">入荷予定日</label>
 <%#= f.date_select :arrival_date, {}, class: 'form-control' %> -->




     <!-- <div class="form-group">
       <%#= f.label "日付"%>
       <%#= f.text_field :date, autofocus: true, class: 'form-control', id: "date" %>
     </div> -->
    <!-- <div class="form-group">
      <%#= f.label "料理名"%>
      <%#= f.collection_select(:food_id, Food.all, :id, :name, :prompt => true) %>
    </div> -->
    <div class="form-group">
      <%= f.submit "追加", class: 'btn btn-success btn-block' %>
    </div>
  <% end %>
</div>
