<%= render 'shared/flash_messages' %>
<div class="row" id="#">
  <div class="col-sm-12 col-xs-12">
    <%= form_tag(order_path, method: :patch) do %>
      <% @tomorrow_foods.each do |menu| %>
        <label class="select-menu-<%= menu.id %>">
          <h6><%= menu.food.chinese_name %></h6>
          <h6><%= menu.food.english_name %></h6>
          <% checked = @food_arr.include?(menu.id)  %>
          <%= check_box_tag "daily_food_ids[]", "#{menu.id}", checked %>チェック
        </label>
      <% end %>
      <%= submit_tag "注文を変更", class: 'btn btn-info btn-block' %>
    <% end %>
  </div>
</div>
