<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- HTML meta tag for Responsive Web Design -->
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <%= render 'shared/flash_messages' %>
    <% if user_signed_in? || shop_clerk_signed_in? || !current_page?(root_path) %>
      <section class="py-5 bg-light">
        <div class="container">
          <%= yield %>
        </div>
      </section>
    <% elsif %>
      <%= yield %>
    <% end %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
